[submodule "pharmageddon"]
	path = pharmageddon
	url = git@github.com:gasman/pharmageddon.git
[submodule "CroixPharmacie"]
	path = CroixPharmacie
	url = git@github.com:MathisHammel/CroixPharmacie.git
[submodule "rpi-rgb-led-matrix"]
	path = rpi-rgb-led-matrix
	url = git@github.com:hzeller/rpi-rgb-led-matrix.git
